{% extends 'base.html' %}
{% block title %}
<title> Delete your album</title>
{% endblock title%}

{% block content %}
<h2>Do you want to delete your album?</h2>
<div class="blog-post">
    <h2 class="blog-post-title">{{object.title}}</h2>
    <p class="blog-post-meta"><strong>Added: </strong>{{object.time}} by <a href="#">{{object.artist}}</a></p>
    <p>{{object.body}}</p>
</div>
<form action='' method="POST" class=form-login>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-sm btn-info btn-pad" type="submit" value="Yes">
    <a href="/">
        <input class="btn btn-sm btn-info btn-pad" type="button" value="No" />
     </a>
</form>

{% endblock content %}