{% extends 'base.html'%}
{% block title%}
    <title>Albums List</title>
    {% endblock title%}
{% block content %}
    {% for album in object_list %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-info">{{album.genre}}</strong>
            <h3 class="mb-0">{{album.title}}</h3>
            <div class="mb-1 text-muted">{{album.time}}</div>
            <div class="mb-1 text-muted"> {{album.author}}</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="{% url 'detail' album.id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block ">
            <img class="bd-placeholder-img" width="250" height="250" src="/static/img/guitar.jpg">
        </div>
    </div>
    {% endfor %}
{% endblock content %}